@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: black;
  color-scheme: dark;
  touch-action: pan-x pan-y;
}

input, textarea, select {
  font-size: 16px !important;
}

.safe-top {
  margin-top: env(safe-area-inset-top);
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.author-name-container {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}