.add-songs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .add-songs-container input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .add-songs-container button {

    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .song-list {
    width: 100%;
    max-height: 200px; /* Limita a altura da lista de sugestões */
    overflow-y: auto; /* Adiciona barra de rolagem vertical se necessário */
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 200%;
  }
  
  .song-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui o espaço entre os itens */
    padding: 10px; /* Adiciona espaçamento interno para os itens da lista */
  }
  

  
  .add-songs-container button {
   
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .add-songs-container button:hover {
    background-color: #a52a2a;
  }
  